:root {
  --heading-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Signika", sans-serif;
  --main-green: rgb(20, 153, 135);
  --secondary-green: rgb(163, 228, 208);
  --salmon: rgb(243, 171, 171);
  --orange: rgb(247, 213, 119);
}

body {
  background-color: var(--main-green);
}
h1 {
  padding-top: 30px;
  text-align: center;
  font-family: var(--heading-font-family);
  font-size: 75px;
  color: white;
  font-weight: 100;
}
h2 {
  text-align: center;
  color: var(--secondary-green);
  font-family: var(--heading-font-family);
  font-weight: 500;
  font-size: 25px;
}
@media (max-width: 600px) {
  h1 {
    font-size: 70px;
    padding: 30px 20px 0 20px;
  }
  h2 {
    font-size: 20px;
    padding: 0 20px 0 20px;
  }
}

.index-profile-picture {
  display: block;
  margin: 0 auto;
  border-radius: 100px;
  max-width: 200px;
  margin-top: 30px;
}
.index-bio {
  font-family: var(--secondary-font-family);
  font-size: 22px;
  font-weight: 300;
  color: white;
  line-height: 1.7;
  text-align: center;
  margin-top: 15px;
}
.my-projects {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: var(--heading-font-family);
  font-size: 35px;
  font-weight: 300;
  color: white;
}
.col-6 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}
.project-img {
  max-width: 400px;
  border-radius: 4px;
  width: 100%;
  height: auto;
}
.project-title {
  font-family: var(--heading-font-family);
  font-size: 30px;
  font-weight: 500;
  color: var(--salmon);
  margin-bottom: 10px;
}
.project-text {
  font-family: var(--secondary-font-family);
  font-size: 19px;
  font-weight: 300;
  color: white;
  line-height: 1.7;
}
.launch-btn {
  margin-top: 10px;
  padding: 5px 10px 5px 10px;
  background-color: var(--salmon);
  color: rgb(4, 117, 102);
  font-family: var(--heading-font-family);
  border-radius: 4px;
  border: 2px solid white;
}

.launch-btn:hover {
  background-color: var(--secondary-green);
  transition: 300ms ease-in-out;
}

.about-container {
  margin-top: 30px;
}
.about-profile-picture {
  display: block;
  margin: 0 auto;
  border-radius: 200px;
  max-width: 300px;
}
.about-text {
  font-family: var(--secondary-font-family);
  font-size: 22px;
  font-weight: 300;
  color: white;
  line-height: 1.7;
}
