:root {
  --heading-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Signika", sans-serif;
  --main-green: rgb(20, 153, 135);
  --secondary-green: rgb(163, 228, 208);
  --navy: rgb(7, 72, 97);
  --salmon: rgb(243, 171, 171);
  --nav-link-colour: rgb(122, 233, 181);
}
/*navbar*/
.navbar {
  background-color: rgb(8, 129, 113);
  padding-left: 30px;
  padding-right: 30px;
}
.nav-home {
  font-family: var(--heading-font-family);
  font-weight: 300;
  font-size: 20px;
  color: white;
}
.nav-home:hover,
.nav-link:hover {
  color: white;
  opacity: 80%;
}
.navbar-links {
  justify-content: end;
  font-family: var(--secondary-font-family);
  font-weight: 300;
  font-size: 18px;
}
.nav-link {
  padding: 0 20px !important;
  color: white;
}
.active {
  color: var(--nav-link-colour) !important;
}
/*index*/
body {
  background-color: var(--main-green);
}
h1 {
  padding-top: 30px;
  text-align: center;
  font-family: var(--heading-font-family);
  font-size: 75px;
  color: white;
  font-weight: 100;
}
h2 {
  text-align: center;
  color: var(--secondary-green);
  font-family: var(--heading-font-family);
  font-weight: 500;
  font-size: 25px;
}
@media (max-width: 600px) {
  h1 {
    font-size: 70px;
    padding: 30px 20px 0 20px;
  }
  h2,
  .contact-bio,
  .about-container,
  .index-bio {
    font-size: 20px;
    padding: 0 30px 0 30px;
  }
}

.index-profile-picture {
  display: block;
  margin: 0 auto;
  border-radius: 100px;
  max-width: 200px;
  margin-top: 30px;
}
.index-bio {
  font-family: var(--secondary-font-family);
  font-size: 22px;
  font-weight: 300;
  color: white;
  line-height: 1.7;
  text-align: center;
  margin-top: 15px;
}
.learn-btn {
  display: block;
  margin: 0 auto;
}
.btn-links {
  text-decoration: none;
  color: rgb(4, 117, 102);
}
/*projects*/
.my-projects {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: var(--heading-font-family);
  font-size: 35px;
  font-weight: 300;
  color: white;
}
.col-6,
.col-8,
.col-4,
.col-sm-4,
.col-sm-8 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}
.project-img {
  max-width: 400px;
  border-radius: 6px;
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 5px rgb(4, 63, 53, 0.5);
}
.project-title {
  font-family: var(--heading-font-family);
  font-size: 30px;
  font-weight: 500;
  color: var(--salmon);
  margin-bottom: 10px;
}
.description-text {
  font-family: var(--secondary-font-family);
  font-size: 19px;
  font-weight: 300;
  color: white;
  line-height: 1.7;
}
.learn-btn,
.launch-btn {
  margin-top: 10px;
  padding: 5px 10px 5px 10px;
  background-color: var(--salmon);
  color: rgb(4, 117, 102);
  font-family: var(--heading-font-family);
  border-radius: 4px;
  border: 2px solid white;
}
.launch-btn a {
  text-decoration: none;
  color: rgb(4, 117, 102);
}

.learn-btn:hover,
.launch-btn:hover {
  background-color: var(--secondary-green);
  transition: 200ms ease-in-out;
}
/*about*/
.about-container {
  margin-top: 30px;
}
.about-profile-picture {
  display: block;
  margin: 0 auto;
  border-radius: 150px;
  max-width: 250px;
}
/*contact*/
h3,
.contact-text,
.contact-bio {
  text-align: center;
}
.contact-bio {
  font-family: var(--secondary-font-family);
  color: var(--secondary-green);
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0 20px 0 20px;
}
h3 {
  margin-top: 15px;
  font-family: var(--heading-font-family);
  font-size: 25px;
  color: white;
}
.contact-text {
  font-family: var(--secondary-font-family);
  font-size: 20px;
}

.fa-contact-icons {
  font-size: 80px;
  color: var(--navy);
  margin-bottom: 10px;
}
.fa-contact-icons:hover,
.fa-footer-icons:hover {
  color: var(--secondary-green);
  cursor: pointer;
  transition: 200ms ease-in-out;
}
.contact-links {
  color: var(--secondary-green);
}
/*footer*/
.fa-footer-icons {
  color: var(--navy);
  padding: 0 20px 0 20px;
  margin-bottom: 15px;
}
footer {
  margin-top: 40px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 20px;
}
.footer-text {
  font-size: 10px;
  font-family: var(--heading-font-family);
  color: var(--navy);
}
.open-sourced-link {
  color: var(--navy);
}
