:root {
  --heading-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Signika", sans-serif;
  --english-violet: #654f6f;
  --pink-lavender: #e6c0e9;
  --celadon: #a8c69f;
  --blue-munsell: #3891a6;
}
/*navbar*/
.navbar {
  padding-left: 30px;
  padding-right: 30px;
}
.nav-home {
  font-family: var(--heading-font-family);
  font-weight: 300;
  font-size: 20px;
  color: var(--pink-lavender);
}
.nav-home:hover,
.nav-link:hover {
  color: var(--celadon);
  opacity: 80%;
}
.navbar-links {
  justify-content: end;
  font-family: var(--secondary-font-family);
  font-weight: 300;
  font-size: 18px;
}
.nav-link {
  padding: 0 20px !important;
  color: var(--pink-lavender);
}
.active {
  color: var(--celadon) !important;
}
/*index*/

canvas {
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  z-index: -1; /* Ensure the canvas is behind the content */
}

body {
  background-color: var(--english-violet);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.home-container {
  flex: 1;
}

.container-2 {
  background-color: var(--pink-lavender);
}

h1 {
  padding-top: 70px;
  text-align: center;
  font-family: var(--heading-font-family);
  font-size: 80px;
  color: white;
  font-weight: 100;
}

h2.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.08em; /* Adjust as needed */
  width: fit-content; /* Ensures the width of the h2 adjusts to the content */
  animation: typing 6s steps(39, end), step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

h2 {
  text-align: center;
  color: var(--celadon);
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-size: 50px;
}

.index-bio {
  font-family: var(--heading-font-family);
  font-size: 25px;
  font-weight: 300;
  color: var(--pink-lavender);
  line-height: 1.7;
  text-align: center;
  margin-top: 15px;
}
.learn-btn {
  display: block;
  margin: 0 auto;
  background-color: var(--english-violet);
  border: 1px solid white;
  font-size: 20px;
  padding: 5px 15px;
  margin-top: 20px;
  font-family: var(--heading-font-family);
}
.btn-links {
  text-decoration: none;
  color: var(--pink-lavender);
}
.learn-btn:hover {
  background-color: var(--pink-lavender);
  transition: 300ms ease-in-out;
}
.btn-links:hover {
  color: var(--english-violet);
}

/*projects*/
.project-container {
  margin-top: 40px;
  padding-top: 40px;
  background-color: white;
  max-width: 100%;
}
.col-6,
.col-8,
.col-4,
.col-sm-4,
.col-sm-8 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}

.project-img {
  max-width: 400px;
  border-radius: 10px;
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 5px rgb(4, 63, 53, 0.5);
}
.project-img:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 5px rgb(4, 63, 53, 0.5);
}
.project-title {
  font-family: var(--heading-font-family);
  font-size: 30px;
  font-weight: 500;
  color: var(--navy);
  margin-bottom: 10px;
}
.description-text,
.project-text {
  font-family: var(--secondary-font-family);
  font-size: 23px;
  font-weight: 300;
  line-height: 1.7;
}
.description-text {
  color: white;
}
.project-text {
  color: rgb(56, 87, 112);
}

.launch-btn {
  background-color: var(--main-green);
  border: 2px solid var(--main-green);
}
.launch-btn a {
  text-decoration: none;
  color: white;
}
.launch-btn:hover {
  background-color: var(--nav-colour);
  border: 2px solid var(--nav-colour);
  transition: 200ms ease-in-out;
}

/*about*/

.about-section-1 {
  max-width: 100%;
}
.about-section-2 {
  margin-top: 30px;
}
.about-container {
  margin-top: 30px;
}
.about-profile-picture {
  display: block;
  margin: 0 auto;
  border-radius: 150px;
  max-width: 250px;
}
/*contact*/
h3,
.contact-text,
.contact-bio {
  text-align: center;
}
.contact-bio {
  font-family: var(--secondary-font-family);
  color: var(--pink-lavender);
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0 20px 0 20px;
}
h3 {
  margin-top: 15px;
  font-family: var(--heading-font-family);
  font-size: 30px;
  color: white;
}
.contact-text {
  font-family: var(--secondary-font-family);
  font-size: 25px;
}

.fa-contact-icons {
  font-size: 80px;
  color: var(--blue-munsell);
  margin-bottom: 10px;
}
.fa-contact-icons:hover,
.fa-footer-icons:hover {
  color: var(--celadon);
  cursor: pointer;
  transition: 200ms ease-in-out;
}
.contact-links {
  color: var(--pink-lavender);
}
/*footer*/
.fa-footer-icons {
  color: var(--celadon);
  padding: 0 20px 0 20px;
  margin-bottom: 15px;
}
.fa-footer-icons:hover {
  color: var(--blue-munsell);
}

footer {
  margin-top: auto;
  margin-top: 40px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 25px;
}
.footer-text {
  font-size: 15px;
  font-family: var(--heading-font-family);
  color: var(--pink-lavender);
}
.open-sourced-link {
  color: var(--pink-lavender);
}

/* responsiveness */
@media (max-width: 600px) {
  h1 {
    font-size: 70px;
    padding: 30px 20px 0 20px;
  }
  h2 {
    padding: 0 30px 0 30px;
    font-size: 40px;
  }

  .contact-bio,
  .about-container,
  .index-bio {
    font-size: 20px;
    padding: 0 30px 0 30px;
  }
}
